:root {
  --primary: #ACFF35;
  --secondary: #12171F;
  --gray: #D9D9D9;
  --white: #fff;
}
#root {
  width: 100vw;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}