.Register {
  display: flex;
  justify-content: center;
  padding: 200px 0;
  & .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    & span {
      display: flex;
      gap: 6px;
    }
  }
  & button {
    display: flex;
    text-align: center;
    gap: 10px;
    align-items: center;
    justify-content: center;
    & img {
      height: 100%;
    }
  }
}